<div class="containerNavBar">
    <div class="containerLogo">
        <img class="logoImg" src="assets/logo.png" alt="" srcset="">
    </div>
    <ul>
        <img class="iconDev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        <a href="https://github.com/Sdavi3489">
            <li>GitHub</li>
        </a>
        <img class="iconDev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
        <a href="https://www.linkedin.com/in/davi-soares-aa3761289/">
            <li>Linkedln</li>
        </a>
    </ul>
</div>